.todos {
    margin: 0 -10px;
}

/*.card-body {
    padding-bottom: 10px;
}*/

.card-footer {
    background-color: rgba(240, 241, 241, 0.616);
}

.todo {
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
}

.removeButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

.close {
    font-size: 1.2rem;
    opacity: .5;
    color: rgba(212, 41, 106, 0.692);
}

.border-finished {
    border-top-color: rgba(212, 41, 106, 0.692);
    border-top-width: 0.3rem;
/*   text-decoration: line-through black*/
}

.border-unfinished {
    border-top-color: rgba(0, 128, 58, 0.616);
    border-top-width: 0.3rem;
}

.finishCheck {
    background-color: transparent;
    border: 0px;
    opacity: 0.5;
    font-size: 1.5rem;
    bottom: 10px;
    margin-left: 290px;
}

.finishCheck:hover {
    opacity: 1;
    color:  rgba(0, 128, 58, 0.616);
}

 .form-inline .colorBar .form-control {
    width: 70px;
    padding: 0px 1px 0px 1px;
}

.labels h3 {
    margin-top: 30px;
}


.low {
    color: grey;
}

.medium {
    color: rgb(255, 230, 0);
}

.high {
    color: rgb(245, 93, 23);
}

.urgent {
    color:  rgb(255, 0, 64);;
}